<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href={{url_for('static', filename='styles.css')}}>
</head>
<body>
    <img src={{ url_for('static', filename='gorillaGreet.gif') }}>
    

    <p>Play gorillaType!</p>
    {% if end %}
        <p>Game over!</p>
        <table>
            <tr class="header"><th>Key Pressed</th><th>Times Pressed</th></tr>
            {% for key, value in keylog %}
                <tr><td>{{ key }}</td><td>{{ value }}</td></tr>
            {% endfor %}
        </table>
    {% endif %}
    <table>
        <tr class="header"><th>Mode</th><th>Highscore</th></tr>
        {% for key in hs %}
            <tr><td>{{ key }}</td><td>{{ hs[key] }}</td></tr>
        {% endfor %}
    </table>
    <p>Current score: {{stats['curr_score']}}</p>
    <p>Current mode: {{stats['curr_mode']}}</p><br>
    <form method="GET" id="secform" action="{{ url_for('game', sec=5) }}">
        <label><input type="radio" id="secs" name="secs" value="10" checked="checked">10 sec</label><br>
        <label><input type="radio" id="secs" name="secs" value="30">30 sec</label><br>
        <label><input type="radio" id="secs" name="secs" value="45">45 se</label>c<br>
        <button type="submit" value="submit">Press enter to start</button>
    </form>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script type="text/javascript">
        window.addEventListener("keydown", function(e) {
            if( e.code ==  'Enter'){
                document.getElementById("secform").submit();
            } 
        });

        //collapsible table
        $('.header').click(function()
        {
            $(this).nextUntil('tr.header').slideToggle(300);
        }); 


    </script>

    
</body>
</html>