<!DOCTYPE html>

<html>
<head>
    <title>GorillaType</title>
    <link rel="stylesheet" href={{url_for('static', filename='styles.css')}}>
</head>
<body>
    <img src={{ url_for('static', filename='gorillaGreet.gif') }}>
    

    <p>Play gorillaType!</p>
    {% if end %}
        <p>Game over!</p>
        <table class="table1">
            <tr class="header"><th>Key Pressed (Click to show/hide)</th><th>Times Pressed</th></tr>
            {% for key, value in keylog %}
                <tr><td>{{ key }}</td><td>{{ value }}</td></tr>
            {% endfor %}
        </table>
    {% endif %}
    <table>
        <tr class="header"><th>Mode (Click to show/hide)</th><th>Highscore</th></tr>
        {% for key in hs %}
            <tr><td>{{ key }}</td><td>{{ hs[key] }}</td></tr>
        {% endfor %}
    </table>
    <p>Current score: {{stats['curr_score']}}</p>
    <p>Current mode: {{stats['curr_mode']}}</p><br>
    <form method="GET" id="secform" action="{{ url_for('game', sec=5) }}">
        <label><input type="radio" id="secs" name="secs" value="10" {% if stats["curr_mode"] == '10 sec' %} checked="checked" {% endif %} >10 sec</label><br>
        <label><input type="radio" id="secs" name="secs" value="15" {% if stats["curr_mode"] == '15 sec' %} checked="checked" {% endif %}>15 sec</label><br>
        <label><input type="radio" id="secs" name="secs" value="20" {% if stats["curr_mode"] == '20 sec' %} checked="checked" {% endif %}>20 se</label>c<br>
        <button type="submit" value="submit">Press enter to start</button>
    </form>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script type="text/javascript">
        window.addEventListener("keydown", function(e) {
            if( e.code ==  'Enter'){
                document.getElementById("secform").submit();
            } 
        });

        //collapsible table
        $(document).ready(function() {
            $('.table1 td').hide();
            $('th').click(function() {
                $(this).parents('table').find('td').toggle();
            }); 
            
        });


    </script>

    
</body>
</html>